<div class="page_header" style="min-height: 50px">
  <div class="user_image">
    <%= gravatar_for @user %>
  </div>
  <h1 style="margin-top: 10px; margin-left: 55px; ">
    <%= @user.name %>
  </h1>
</div>
<% unless @user.events.empty? %>
  <%= render @events %>
  <%= will_paginate @events %>
<% end %>  
<% content_for :right_column do %>
  <div class="page_header">
    <h2>User Profile</h2>
  </div>
  <div class="page_content">
    <div class="user_profile">
      <div class="user_profile_content">
        <div class="content_row">
          <strong>Name:</strong> <%= @user.name %>
        </div>
        <div class="content_row">
      		<strong>Subscribed Events:</strong> <%= @user.events.count %>
        </div>
        <div class="content_row">
          <%= link_to "Add an Event", addevent_path %>
  	    </div>
      </div>
    </div>
  </div>
<% end %>