<% semantic_form_for @event do |form| %>

<%= form.input :event_title, :label => "Event Title", :hint => "something very catchy" %>
<%= form.input :user %>    <!-- make as current user? -->
<%= form.input :event_type, :label => "Event Type", :as => :radio, :collection => ['Free', 'Cheap'] %>
<%= form.input :start %>
<%= form.input :end %>
<%= form.input :price %>
<%= form.input :occurence, :as => :check_boxes, :collection => ['One-Time', 'Daily', 'Monthly','Annual'] %>
<%= form.input :description %>
  <%= form.buttons %>
<% end %>

<!--
<%= form_for @event do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  


  <div class="field">
	<%= f.label :title %>
    <%= f.text_field :event_title %>
  </div>

 <div class="field">
	<%= f.label :description %>
    <%= f.text_area :description %>
  </div>




  <div class="actions">
    <%= f.submit "Post!" %>
  </div>
<% end %>

-->