<%= form_for @event do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <table class="event_form">
    <tbody>
      <tr>
        <th>Type</th>
        <td><%= f.select :event_type, Event::EVENT_TYPE, :include_blank => 'Pick one!' %></td>
      </tr>
      <tr id="price_field" class="hidden_elem">
        <th>Price</th>
        <td><%= f.text_field :price %></td>
      </tr>
      <tr>
        <th>Title</th>
        <td><%= f.text_field :event_title %></td>
      </tr>
      <tr>
        <th>Start</th>
        <td>
          <%= f.text_field :startdate %>
          <%= f.time_select :starttime, :minute_step => 15 %>
        </td>
      </tr>
      <tr>
        <th>End</th>
        <td>
          <%= f.text_field :enddate %>
          <%= f.time_select :endtime, :minute_step => 15 %>
        </td>
      </tr>
      <tr>
        <th>Occurrence</th>
        <td><%= f.select :occurence, Event::OCCURENCE %></td>
      </tr>
      <tr>
        <th>Location</th>
        <td><%= f.text_field :location %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_area :description %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Create event!" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
<%= javascript_tag "price_toggle()" %>