<tr>  
  <td class="event">
    <span class="user">
      <%= link_to @feed_item1.event_title, "#" %>
    </span>
	<span class="general">
      <%= @feed_item1.event_type %>
    </span>
	<span class="general">
      <%= link_to @feed_item1.user.name, @feed_item1.user %>
    </span>
	<span class="general">
      <%= @feed_item1.startdate.strftime("%b %d, %Y at") %>
   	  <%= @feed_item1.starttime.strftime("%I:%M %p") %>
	</span>
	<span class="general">
      <%= @feed_item1.occurence %>
    </span>
	<span class="general">
      <%= @feed_item1.description %>
    </span>

	<span class="general">
      <%= @feed_item1.location %>
    </span>
 
    <span class="timestamp">
      Posted <%= time_ago_in_words(@feed_item1.created_at) %> ago.
    </span>
  </td>

  <td class="gravatar">
    <%= link_to gravatar_for(@feed_item1.user), @feed_item1.user %>
  </td>