<%= form_for @event do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <table class="event_form">
    <tbody>
      <tr>
        <th>Type</th>
        <td><%= f.select :event_type, Event::EVENT_TYPE %></td>
      </tr>
      <tr>
        <th>Start</th>
        <td>
          <%= f.text_field :startdate, :size => 10 %>
          <%= f.time_select :starttime, :minute_step => 15 %>
        </td>
      </tr>
      <tr>
        <th>End</th>
        <td>
          <%= f.text_field :enddate, :size => 10   %>
          <%= f.time_select :endtime, :minute_step => 15 %>
        </td>
      </tr>
      <tr>
        <th>Title</th>
        <td><%= f.text_field :event_title, :size => "57" %></td>
      </tr>
      <tr>
        <th>Location</th>
        <td><%= f.text_field :location, :size => "57" %></td>
      </tr>
      <tr id="price_field" class="hidden_elem">
        <th>Price</th>
        <td><%= f.text_field :price, :size => "57" %> CAD</td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_area :description %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Create event!" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
<%= javascript_tag "price_toggle()" %>