<h2>New Events</h2>
<span class="float_left">
  <% if signed_in? %>
    <%= link_to "Add an event", addevent_path %> |&nbsp
  <% end %>
</span>
  <%= form_tag(events_path, :method => "get") do %>
  I want to see
  <%= select_tag(:filter, 
    options_for_select([
      ['all', 'All'],
      ['free', 'Free'],
      ['cheap', 'Cheap']
      ])) %> events,
    sorted by
    <%= select_tag(:order, 
      options_for_select([
        ['happening soon', 'start_date ASC'],
        ['recently created', 'created_at DESC']
        ])) %>.
  <%= submit_tag("Go!") %>
<% end %>
<% if @filter and @order != nil %>
  <div>You are viewing <%= @filter %> events, ordered by <%= @order %>.</div>
<% end %>
<%= javascript_tag "redirect()" %>