<table>
<% @events.each do |event| %>
  <tr>
    <td><%= event.id %></td>
    <td><%= event.event_title %></td>
    <td><%= event.location %></td>
    <td><%= event.startdate %> to <%= event.enddate %></td>    
    <td><%= event.user.name %></td>
  </tr>
<% end %>
</table>