<table class="profile" summary="Event Detail">
  <tr>
    <td class="main">
  		<h1>
  			<%= @event.title %>
  		</h1>
  		<h2>
  		  Location: <%= @event.location %><br />
  		  Starting in <%= @event.start_date.strftime("%B %d, %Y") %>,
        <%= @event.start_time.strftime("%I:%M %p") %> to
        <%= @event.end_time.strftime("%I:%M %p") %>.<br />
      </h2>
      <h3>        
      	<% if cheap_event? %>
          This is a cheap event that costs <%= @event.price %> dollars.
        <% else %>
          This is a free event.
        <% end %><br />
      </h3>
      <h3>
        <p>
          <%= @event.user.name %> wrote...<br />
          <i>"<%= @event.description %>"</i>
        </p>
      </h3>
  	</td>
  </tr>
</table>