<!--
<noscript>
	<div>
    <p>Unfortunately your browser does not hava JavaScript capabilities which are required to exploit full functionality of our site. This could be the result of two possible scenarios:</p>
      <ol>
        <li>You are using an old web browser, in which case you should upgrade it to a newer version. We recommend the latest version of <a href="http://www.getfirefox.com">Firefox</a>.</li>
        <li>You have disabled JavaScript in you browser, in which case you will have to enable it to properly use our site. <a href="http://www.google.com/support/bin/answer.py?answer=23852">Learn how to enable JavaScript</a>.</li>
      </ol>
    </div>
</noscript>
-->

<h1><strong>free</strong></h1>
<div class="coda-slider-wrapper">
	<div class="coda-slider preload" id="coda-slider-1">
		<div class="panel">
			<div class="panel-wrapper">
				<div class = "free round">
					<div class = "eventshome">
			      <%= link_to @feed_item1.event_title, "#" %> </br>
								   <%= @feed_item1.event_type %> </br>
							       <%= link_to @feed_item1.user.name, @feed_item1.user %> </br>
							       <%= @feed_item1.startdate.strftime("%b %d, %Y at") %>
							   	   <%= @feed_item1.starttime.strftime("%I:%M %p") %> </br>
						      	   <%= @feed_item1.occurence %> </br>
						           <%= @feed_item1.location %> </br>
						           <%= @feed_item1.description %> </br>
								   <%= link_to gravatar_for(@feed_item1.user), @feed_item1.user %>
						</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-wrapper">
				<div class = "free round">
					<div class = "eventshome">
					<%= link_to @feed_item2.event_title, "#" %> </br>
										   <%= @feed_item2.event_type %> </br>
									       <%= link_to @feed_item2.user.name, @feed_item2.user %> </br>
									       <%= @feed_item2.startdate.strftime("%b %d, %Y at") %>
									   	   <%= @feed_item2.starttime.strftime("%I:%M %p") %> </br>
								      	   <%= @feed_item2.occurence %> </br>
								           <%= @feed_item2.location %> </br>
								           <%= @feed_item2.description %> </br>
										   <%= link_to gravatar_for(@feed_item2.user), @feed_item2.user %>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-wrapper">
				<div class = "free round">
					<div class = "eventshome">
						<span class = "eventtitle">
							<%= link_to @feed_item3.event_title, "#" %> </br>
						</span>
										   <%= @feed_item3.event_type %> </br>
									       <%= link_to @feed_item3.user.name, @feed_item3.user %> </br>
									       <%= @feed_item3.startdate.strftime("%b %d, %Y at") %>
									   	   <%= @feed_item3.starttime.strftime("%I:%M %p") %> </br>
								      	   <%= @feed_item3.occurence %> </br>
								           <%= @feed_item3.location %> </br>
								           <%= @feed_item3.description %> </br>
										   <%= link_to gravatar_for(@feed_item3.user), @feed_item3.user %>
					</div>
					
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-wrapper">
				<div class = "free round">
					<div class = "eventshome">
					<%= link_to @feed_item4.event_title, "#" %> </br>
										   <%= @feed_item4.event_type %> </br>
									       <%= link_to @feed_item4.user.name, @feed_item4.user %> </br>
									       <%= @feed_item4.startdate.strftime("%b %d, %Y at") %>
									   	   <%= @feed_item4.starttime.strftime("%I:%M %p") %> </br>
								      	   <%= @feed_item4.occurence %> </br>
								           <%= @feed_item4.location %> </br>
								           <%= @feed_item4.description %> </br>
										   <%= link_to gravatar_for(@feed_item4.user), @feed_item4.user %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<h1><strong>cheap</strong></h1>


