<div class="lfloat" role="content_info">
  <!-- something here -->
</div>
<div class="rfloat fsm fwn fcg" role="navigation">
  <%= link_to "About", about_path %>&nbsp
  <%= link_to "Careers", careers_path %>&nbsp
  <%= link_to "Contact", contact_path %>&nbsp
  <%= link_to "Help", help_path %>&nbsp
</div>
<!-- <footer>
  <nav id="footer">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Careers", careers_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer> -->