<div class="top_bar_inside">
  <div id="logo">
    <%= link_to "", root_path %>
  </div>
  <!-- Search function doesn't work yet. -->
  <!-- <form id="search_form" action="/search" method="GET">
    <span class="glass">
      <i></i>
    </span>
    <input value placeholder="Search" name="q" id="search_query" type="text">
  </form> -->
  <div id="global_nav" class="rfloat">
    <ul>
      <li id="global_nav_home">
        <%= link_to "Home", root_path %>
      </li>
      <% if signed_in? %>
        <li id="global_nav_profile">
          <%= link_to "Profile", current_user %>
        </li>
        <li id="global_nav_settings">
          <%= link_to "Settings", edit_user_path(current_user) %>
        </li>
        <% if current_user.admin? %>
          <li id="global_nav_all_users">
            <%= link_to "All Users", users_path %>
          </li>
        <% end %>
      <li id="global_nav_sign_out">
        <%= link_to "Sign out", signout_path, :method => :delete %>
      </li>
      <% else %>
        <li id="global_nav_sign_in">
          <%= link_to "Sign in", signin_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>